#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16em;
    height: 100vh;
    margin-left: 1em;
    text-align: center;
}

.nav-item {
    margin-top: 0.5em;
    border-top: 1px solid black;
    padding-top: 0.5em;
    color: #8e7272;;
}

.container {
    max-width: 65%;
    margin: 0 auto;
}

#main-doc {
    display: flex;
    flex-direction: column;
}

#heading-main {
    font-size: 140%;
    margin-top: 2em;
}

.topic-headings {
    font-size: 130%;
}

.topic-headings,
.code {
    margin: 1em 0;
}

.code {
    display: inline-block;
    color: #926666;
    font-weight: 600;
}

p {
    line-height: 1.2em;
    /* margin-top: 1em; */
}

.content-points {
    list-style-type: square;
}

p,
.content-points {
    color: #8e7272;
}

#mdn {
    color: #4d4da1;
}

@media screen and (max-width: 400px) {
    #navbar {
        width: 4em;
    }

    #main-doc {
        width: 70%;
        margin: 0 auto;
    }

    #heading-main {
        font-size: 92%;
    }

    .topic-headings {
        font-size: 90%;
    }
    .nav-item,
    p,
    .content-points {
        font-size: 80%;
    }
}


/*Temporary boxes */

/* #navbar {
    outline: 2px solid black;
} */